node_modules
.env
npm-debug.log

# Ignore uploaded files but keep folder structure
uploads/*
!uploads/.gitkeep
!uploads/papers/.gitkeep
!uploads/jobs/.gitkeep
!uploads/resumes/.gitkeep
!uploads/temp/.gitkeep
